@model IEnumerable<Aztec_Project.Models.ShowingMovie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cinemas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" id="bootstrap-css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/sidebar.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for sidebar -->


    <style>
        body {
            overflow-x: hidden;
        }

        #wrapper {
            padding-left: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

            #wrapper.toggled {
                padding-left: 250px;
            }

        #sidebar-wrapper {
            z-index: 1000;
            position: fixed;
            left: 250px;
            width: 0;
            height: 100%;
            margin-left: -250px;
            overflow-y: auto;
            background: #000;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
            width: 100%;
            position: absolute;
            padding: 15px;
        }

        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }


        /* Sidebar Styles */

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .sidebar-nav li {
                text-indent: 20px;
                line-height: 40px;
            }

                .sidebar-nav li a {
                    display: block;
                    text-decoration: none;
                    color: #999999;
                }

                    .sidebar-nav li a:hover {
                        text-decoration: none;
                        color: #fff;
                        background: #1a1a1a;
                    }

                    .sidebar-nav li a:active, .sidebar-nav li a:focus {
                        text-decoration: none;
                    }

            .sidebar-nav > .sidebar-brand {
                height: 65px;
                font-size: 18px;
                line-height: 60px;
            }

                .sidebar-nav > .sidebar-brand a {
                    color: #999999;
                }

                    .sidebar-nav > .sidebar-brand a:hover {
                        color: #fff;
                        background: none;
                    }


        #wrapper {
            padding-left: 0;
        }

            #wrapper.toggled {
                padding-left: 250px;
            }

        #sidebar-wrapper {
            width: 0;
            background-color: #1a1a1a;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
            padding: 20px;
            position: relative;
        }

        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }

        .container-fluid .btn:hover {
            background-color: white;
        }

        .container-fluid .btn:visited {
            background-color: #3d3d3d;
            color: white;
        }

        .tab-content .col-md-8 th {
            font-size: medium;
            text-align: center;
        }
    </style>



</head>


<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <p>Welcome to Aztec</p>
                    </a>
                </li>
                <li>
                    @Html.ActionLink("Home", "Index", "Home", null)
                </li>
                <li>
                    @Html.ActionLink("About Us", "Index", "Home", null)
                </li>
                <li>
                    @Html.ActionLink("Contact Us", "Index", "Home", null)
                </li>
                <li>
                    @Html.ActionLink("Cinemas", "More", "Home", null)
                </li>
                <li>
                    @Html.ActionLink("Showing Movies", "ShowingMovies", "Home", null, new { @class = "text-muted" })
                </li>
                <li>
                    @Html.ActionLink("Coming Soon Movies", "ComingSoonMovies", "Home", null)
                </li>
                <li>
                    <a href="#">Sign Out <i class="fa fa-sign-out" style="font-size:24px"></i></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"> Menu</a>
                <h1>Showing Movies at Yangon's Cinemas</h1>
                <div class="container">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Movie Lists </a></li>

                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="col-md-8 text-center">

                                <table class="table table-hover table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>

                                                @Html.DisplayNameFor(model => model.ShowingMovieID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MovieName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ShowTime)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Cinemas)
                                            </th>
                                        </tr>
                                    </thead>

                                    @foreach (var item in Model)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelitem => item.ShowingMovieID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelitem => item.MovieName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelitem => item.ShowTime)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelitem => item.Cinemas)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Detail", "ShowingMovies", "Home", new { SMID = item.ShowingMovieID, SMN = item.MovieName, SMT = item.ShowTime, SC = item.Cinemas }, new { @class = "btn btn-success" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>



</body>
</html>
